# Development
VITE_APP_BE_BASE_URL=https://localhost:7118/api/v1
VITE_APP_API_KEY=VITE_APP_API_KEY
VITE_LOCAL_HTTPS=1
VITE_DEV_PFX_PASSPHRASE=123
VITE_APP_LOGO_API_KEY=pk_JRSTOk-7T9eYdp03hcWAMg
# Production
# VITE_APP_BE_BASE_URL=VITE_APP_BE_BASE_URL
# VITE_APP_API_KEY=VITE_APP_API_KEY